/* =============================================================================
================== DESCTOP STYLES ==============================================
================================================================================*/

@media screen and (min-width: 1024px) {
  .showcase {
    padding-bottom: 150px;
  }

  .showcase .showcase-content {
    padding: 0 8rem;
  }

  .showcase .showcase-content h1 {
    font-size: 1.5rem;
  }

  .showcase .showcase-content h2 {
    font-size: 4.4rem;
  }

  .showcase .showcase-content h3 {
    letter-spacing: 10px;
  }

  .size-h {
    font-size: 7.2rem;
    line-height: 0.8;
    letter-spacing: 10px;
  }

  /* =================== Showcase Page */
  .showcase-page .showcase-content-page {
    /* padding: 0 8rem; */
  }

  .showcase-page .showcase-content-page h1 {
    font-size: 0.83rem;
    letter-spacing: 1px;
  }

  .showcase-page .showcase-content-page h2 {
    font-size: 2.3rem;
    letter-spacing: 6px;
  }

  .showcase-page .showcase-content-page h3 {
    letter-spacing: 3px;
  }

  .size-h {
    font-size: 4.5rem;
    line-height: 0.8;
    letter-spacing: 5px;
  }
}
