/* =============================================================================
================== IPAD STYLES =================================================
================================================================================*/

@media screen and (min-width: 768px) {
  /* ======================== Showcase Section */
  .showcase {
    padding-bottom: 150px;
  }

  .showcase .showcase-content {
    padding: 0 1rem;
  }

  .showcase .showcase-content h1 {
    font-size: 1.5rem;
  }

  .showcase .showcase-content h2 {
    font-size: 4.4rem;
  }

  .showcase .showcase-content h3 {
    letter-spacing: 10px;
  }

  .size-h {
    font-size: 7.2rem;
    line-height: 0.8;
    letter-spacing: 10px;
  }

  /* =================== Showcase Page */
  .showcase-page .showcase-content-page h1 {
    font-size: 0.9rem;
    letter-spacing: 7px;
  }

  .showcase-page .showcase-content-page h2 {
    font-size: 2.5rem;
    letter-spacing: 7px;
  }

  .showcase-page .showcase-content-page h3 {
    letter-spacing: 12px;
  }

  .h-large-p {
    font-size: 2.5rem;
  }

  .break {
    display: inline-block;
  }

  /* ===================== What We Do Section */
  .what-box .box-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .what-box .box-wrap div {
    width: 300px;
    margin: 1rem;
  }

  /* =============== Why Choose Us Section */
  .why-box .why-box-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .why-box .why-box-wrap .us-box {
    flex: 1;
    margin: 2rem 0.2rem;
  }

  /* ============================ Change */
  .change {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .change-box {
    width: 300px;
  }

  /* =================================================================================================================== */

  /* ========================================== About Page */
  #about-page .about-page-wrap {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
  }

  #about-page .about-page-wrap .about-page-content {
    margin-right: 1rem;
  }

  #about-page .about-page-wrap img {
    max-width: 400px;
    max-height: auto;
    object-fit: cover;
  }

  /* ========================================== Work Page */
  #work-page .work-container {
    flex-direction: row;
    justify-content: center;
  }

  /* =========================================== Pricing Page */
  .pricing-card-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .pricing-card {
    margin-right: 2rem;
    flex: 1;
  }

  .zglb {
    flex: 2;
  }

  /* =========================================== Blog Page */
  #blog-page .blog-page-wrapper {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #blog-page .blog-page-wrapper .blog-page-blog {
    max-width: 300px;
    margin: 1rem;
  }

  /* ============================= Contact Page And Section */
  #contact-page .contact-page-cont {
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 2rem;
  }

  #contact-page .contact-page-cont .contact-form-cont {
    flex: 2;
  }

  #contact-page .contact-page-cont .contact-form-cont input,
  #contact-page .contact-page-cont .contact-form-cont textarea {
    padding: 0.5rem;
    margin: 0.5rem 0;
    outline: none;
    border: 1px solid var(--white);
  }

  #contact-page .contact-page-cont .contact-info-cont {
    flex: 1;
  }

  #contact-page .contact-page-cont .contact-info-cont li {
    padding: 1rem 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  #contact-page .map {
    margin-top: 3rem;
  }
}
