/* =============================================================================
================== UTILITIES ===================================================
================================================================================*/

:root {
  --white: #ffffff;
  --black: #000000;
  --red: rgb(241, 52, 52);
  --color-1: #212121;
  --color-4: #0083b7;
  --color-8: #00afe7;
  --modal-duration: 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(/font/Poppins-Regular.ttf);
}

body {
  font-family: "Poppins-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 5rem 1rem;
}

.container-2 {
  max-width: 1100px;
  margin: auto;
  padding: 5rem 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

img {
  display: inline-block;
  width: 100%;
}

p {
  line-height: 1.6;
  margin: 1rem 0;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

.special-1 {
  color: var(--red);
}

.special-2 {
  color: var(--color-8);
}

.lead-h {
  font-size: 2.3rem;
}

.btn-small {
  display: inline-block;
  color: var(--black);
  background-color: var(--white);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

.btn-small:hover {
  opacity: 0.8;
  letter-spacing: 2px;
  display: inline-block;
}

.btn-light {
  display: inline-block;
  font-size: 1rem;
  background-color: var(--white);
  padding: 1rem 2rem;
  color: var(--black);
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  border: none;
}

.btn-light:hover {
  letter-spacing: 6px;
  opacity: 0.8;
}

.btn-dark {
  display: inline-block;
  font-size: 1rem;
  background-color: var(--black);
  padding: 1rem 2rem;
  color: var(--white);
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  border: none;
}

.btn-dark:hover {
  letter-spacing: 6px;
  opacity: 0.8;
}

/* =============================================================================
================== MOBILE STYLES ===============================================
================================================================================*/

/* ==================================== HAMBURGER MENU */
.navbar {
  width: 300px;
  height: 80vh;
  background-color: var(--black);
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 0 0 50%;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  z-index: 10;
}

.change {
  right: 0;
}

.hamburger-menu {
  width: 60px;
  height: 60px;
  background-color: var(--black);
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 50%;
  padding: 12px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--white);
  transition: all 0.8s;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
  text-align: right;
}

.nav-item {
  list-style: none;
  margin: 1.6rem;
  margin-left: 3rem;
}

.nav-link {
  color: var(--white);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: var(--red);
  letter-spacing: 3px;
  transition: all 0.2s ease-in-out;
}

/* ==================================== Showcase Section */
.showcase {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 100px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.showcase .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.showcase .showcase-content {
  position: relative;
  color: var(--white);
  padding: 0 1rem;
}

.showcase .showcase-content h1 {
  font-size: 0.85rem;
  font-weight: 300;
  animation-name: moveToLeft;
  animation-duration: 2s;
}

.showcase .showcase-content h2 {
  font-size: 2rem;
  letter-spacing: 6px;
  font-weight: bold;
  line-height: 1;
  animation-name: moveToRight;
  animation-duration: 2s;
}

.showcase .showcase-content h3 {
  letter-spacing: 1.8px;
  animation-name: moveToLeft;
  animation-duration: 2s;
}

.size-h {
  font-size: 4rem;
  line-height: 0.8;
  letter-spacing: 5px;
}

.btn-light-hero {
  display: inline-block;
  font-size: 1rem;
  background-color: var(--white);
  padding: 1rem 2rem;
  color: var(--black);
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  animation-name: btnHero;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  border: none;
  outline: none;
}

.btn-light-hero:hover {
  letter-spacing: 6px;
  opacity: 0.8;
}

@keyframes moveToLeft {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes btnHero {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ==================================== What We Do Section */
#what {
  background-color: var(--color-1);
  color: var(--white);
}

.what-box .box-wrap {
  margin-top: 3rem;
}

.what-box .box-wrap div {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  position: relative;
}

.what-box .box-wrap div .box {
  display: flex;
  flex-direction: column;
}

.what-box .box-wrap div .box:last-child {
  display: inline-block;
}

.what-box .box-wrap div .bu {
  margin-right: 1rem;
  color: rgba(43, 43, 43, 0.5);
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ==================================== Why Choose Us Section */
.why-box .why-box-wrap .us-box {
  margin-top: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.why-box .why-box-wrap .us-box i {
  margin-bottom: 1rem;
  color: rgb(208, 208, 208);
}

/* ============================================= Change Section */
#change {
  background-color: var(--color-4);
  color: var(--white);
}

.change-box {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.change-box i {
  margin-right: 1rem;
  color: var(--color-8);
  opacity: 0.5;
}

/* Project Section */
#project {
  background-color: var(--red);
  color: var(--white);
  position: relative;
}

/* ================================================ Pricing Section */
#pricing {
  background-color: var(--color-1);
  color: var(--white);
}

/* =============================================== Testimonial Section */
.testimonial-container {
  background-color: whitesmoke;
  color: var(--black);
  padding: 50px 80px;
  margin: 20px auto;
  max-width: 768px;
  position: relative;
}

.fa-quote {
  position: absolute;
  top: 70px;
}

.fa-quote-right {
  right: 40px;
}

.fa-quote-left {
  left: 40px;
}

.testimonial {
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-img {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin-left: 20px;
}

.user .username {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.progress-bar {
  background-color: var(--red);
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

/* ================================================== Footer */
.footer {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 3rem;
  font-size: small;
}

/* ==================================================== MODAL */
.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 350px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-header {
  background-color: var(--color-1);
  color: var(--white);
  padding: 10px;
}

.modal-header h3 {
  margin: 0;
  border-bottom: 3px solid var(--red);
  text-transform: uppercase;
}

.modal-content {
  padding: 10px;
}

.modal-content p {
  font-size: 12px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}

.modal-form .form-input,
.modal-form .form-textarea {
  padding: 8px;
  width: 100%;
  background-color: var(--color-1);
  border: none;
  color: var(--white);
}

.close-btn {
  background-color: transparent;
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 10px;
  color: var(--white);
  cursor: pointer;
  outline: none;
  border: none;
}

/* =============================================================================================================================================== */

/* ==================================== Showcase Page */
.showcase-page {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1rem 1rem;
}

.showcase-page video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.showcase-page .overlay-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.showcase-page .showcase-content-page {
  position: relative;
  color: var(--white);
}

.showcase-page .showcase-content-page h1 {
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 300;
  animation-name: moveToLeft;
  animation-duration: 2s;
}

.showcase-page .showcase-content-page h2 {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-weight: bold;
  line-height: 1;
  animation-name: moveToRight;
  animation-duration: 2s;
}

.showcase-page .showcase-content-page h3 {
  letter-spacing: 2.6px;
  animation-name: moveToLeft;
  animation-duration: 2s;
}

.break {
  display: block;
}

.h-large-p {
  font-size: 4.6rem;
  font-weight: bold;
}

/* ===================================== About Page */
#about-page {
  background-color: var(--color-1);
  color: var(--white);
}

#about-page .img-about {
  border-radius: 1rem;
}

/* ====================================== Work Page */
#work-page {
  background-color: var(--color-1);
  color: var(--white);
}

#work-page .work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#work-page .work-container .work-project {
  position: relative;
  width: 350px;
  height: auto;
  margin: 1rem;
}

#work-page .work-container .work-project:hover {
  opacity: 0.8;
}

#work-page .work-container .work-project img {
  border-radius: 1rem;
}

#work-page .work-container .work-project a {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

/* ==================================== Pricing Page */
#pricing-page {
  background-color: var(--color-1);
  color: var(--white);
}

.pricing-card-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-card {
  background-color: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  position: relative;
  margin: 2rem 0;
  border: 2px solid green;
}

.pricing-card .pricing-card-header {
  background-color: var(--black);
  color: var(--white);
  padding: 1rem;
  position: absolute;
  top: -20px;
  border-radius: 1rem;
  border: 2px solid green;
}

.pricing-card .price {
  background-color: green;
  color: var(--white);
  margin-top: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.pricing-card ul {
  list-style: none;
  margin-top: 1rem;
}

.pricing-card ul li {
  padding: 0.3rem;
}

#pricing-page .zglb .note {
  background-color: var(--red);
  color: var(--white);
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  font-weight: bold;
}

#pricing-page .zglb .plan-description {
  background-color: var(--white);
  color: var(--black);
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* ===================================== Gallery Page */
#gallery-page {
  background-color: var(--color-1);
  color: var(--white);
}

/* ========================== Contact Page And Section */
#contact-page {
  background-color: var(--color-1);
  color: var(--white);
}

#contact-page .contact-page-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

#contact-page .contact-page-cont .contact-form-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
}

#contact-page .contact-page-cont .contact-form-cont input,
#contact-page .contact-page-cont .contact-form-cont textarea {
  padding: 1rem;
  margin: 1rem 0;
  outline: none;
  border: 1px solid var(--white);
}

#contact-page .contact-page-cont .contact-info-cont {
  list-style: none;
}

#contact-page .contact-page-cont .contact-info-cont li {
  padding: 0.5rem 0;
  color: var(--white);
}

#contact-page .contact-page-cont .contact-info-cont li i {
  margin-right: 0.5rem;
}

#contact-page .map {
  margin-top: 3rem;
}

/* =========================================== Blog Page */
#blog-page {
  background-color: var(--color-1);
  color: var(--white);
}

#blog-page .blog-page-wrapper .blog-page-blog {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 1rem 0;
}

#blog-page .blog-page-wrapper .blog-page-blog .blog-thumb-text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#blog-page .blog-page-wrapper .blog-page-blog a {
  margin: 0 0 1rem 1rem;
}

/* =========================================== Post Page */
#post {
  background-color: var(--color-1);
  color: var(--white);
}

#post .img-post {
  margin: 1rem auto;
  display: block;
  width: 500px;
  height: auto;
}

#post .lista {
  list-style: square;
  margin-left: 1rem;
}

/* =========================================== 404 Page */
#error {
  background-color: var(--color-1);
  color: var(--white);
}

#error .error-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#error .error-wrap h2 {
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.1);
  line-height: 1;
  margin-bottom: 2rem;
}

#error .error-wrap h4 {
  color: var(--red);
}

#error .error-wrap a {
  color: var(--red);
  background-color: var(--black);
  padding: 0 0.5rem;
  border-radius: 1rem;
}
